* {
	font-family: 'Josefin Sans', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
}

hr {
	margin: 10px 30px 10px 30px; 
}

nav {
	height: 52px;
	background: blue;
	width: 100%;
	z-index: 1;
	position: absolute;
}

#list {
	margin: 77px 0 0 0;	
	width: 40%;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.mapContainer {
	width: 60%;
}

.listContainer {
	background-color: #fafafa;
}

.inputText {
	font-size: xx-large;
	padding: 15px;
	margin: 52px 0 15px 0;
	width: 100%;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input:focus {
	outline: 0;
}

.nav-heading {
	text-align: center;
	color: white;
	font-size: 25px;
}

#map {
	height: 100%;
	width: 60%;
}

.listItem {
	background-color: white;
	display: flex;
	min-height: 175px;
	padding: 15px;
	/*border: 2px solid #0e38a8;*/
	margin: 5px 5px 0 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.listText {
	width: 70%;
}

.listTextHeading {
	font-size: 25px;
	font-weight: bold;
	color: #f6a926;
}

.listTextData {	
	font-size: 18px;
	margin: 25px 5px 0 0;
}

.listImage {
	width: 30%;
	transition: all .2s ease-in-out;
}

.img-responsive {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.listItem:hover .listImage {
	transform: scale(1.1);
}

.listItem:hover {
	background-color: #e6ebf6;
}

.markerContent {

}

.markerHeader {
	padding: 3px 0 0 40px;
	font-size: 20px;
	font-weight: bold;
	color: #0e38a8;
}

.placeHolder {
	float: left;
}

.markerText {
	padding: 3px 0 0 40px;
}

@media only screen and (max-width: 1010px) {
	.listItem {
		min-height: 150px;
	}
}

.showListSection {
	display: none;
}

@media only screen and (max-width: 800px) {
	.listItem {
		min-height: 125px;
	}
	.listTextHeading {
		font-size: 20px;
	}
	.listTextData {
		font-size: 15px;
	}
}

@media only screen and (max-width: 650px) {
	#list {
		width: 100%;
		z-index: 1;
		position: absolute;
		overflow-y: hidden; 
	}
	#map {
		width: 100%;
		position: fixed;
	}
	.listItem {
		min-height: 125px;
	}
	.listTextHeading {
		font-size: 25px;
	}
	.listTextData {
		font-size: 18px;
	}
	.showListSection {
		display: block;
		z-index: 1;
		position: absolute;
		margin-top: 52px;
		width: 100%;
		min-height: 25px;
	}
	.listContainer {
		opacity: 0.8;
	}
}

@media only screen and (max-width: 380px) {
	.listTextHeading {
		font-size: 20px;
	}
	.listTextData {
		font-size: 15px;
	}
}

